.object-fit {
  object-fit: cover;
}
.radius-8 {
    border-radius: 8px;
}
.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.align-baseline {
    align-items: inherit!important;
}
.bold {
    font-weight: bold!important;
}
.p-0 {
    padding: 0!important;
}
.swiper-pagination {
    position: relative!important;
    margin-top: 20px!important;
}
.swiper-pagination-bullet {
    background: #fff!important;
}
.bg-primary, .swiper-pagination-bullet-active {
    background-color: #00F0A9!important;
}